{% extends 'base.html' %} {% block content %}
<section>
  <div class="container py-5">
    <div style="align-content: center">
      <p style="font-size: 30px">About us</p>
    </div>
    <br />
    <hr />
    <div style="align-content: center">
      Welcome to COFFEE HOUSE, where passion for coffee meets a cozy ambiance.
      <br />
      At COFFEE HOUSE, we believe in the power of a perfect cup of coffee to
      bring people together, creating moments that linger long after the last
      sip.
      <br />
      <br />
      Our journey began with a simple yet profound love for the rich aroma and
      robust flavors of coffee beans from around the world.
      <br />
      Inspired by this love, we set out to create a haven for coffee
      enthusiasts, a place where every visit is an immersive experience in the
      world of exceptional coffee.
      <br />
      <br />
      At COFFEE HOUSE, we source only the finest beans, carefully selected from
      sustainable and ethical coffee farms.
      <br />
      Our skilled baristas craft each cup with precision, ensuring that every
      brew is a masterpiece.
      <br />
      From the first pour to the final sip, we strive for perfection, aiming to
      deliver a moment of pure delight in every cup.
      <br />
      <br />
      But COFFEE HOUSE is more than just a place for great coffee; it's a
      community.
      <br />
      We invite you to join us in our warm and inviting space, where
      conversations flow as freely as the coffee.
      <br />
      Whether you're here to work, catch up with friends, or simply unwind, our
      comfortable atmosphere provides the perfect backdrop for all of life's
      moments.
      <br />
      <br />
      As a locally-owned coffee house, we are proud to be an integral part of
      the community.
      <br />
      We cherish the relationships we've built with our patrons and neighbors,
      and we are committed to giving back through initiatives that support the
      environment and local causes.
      <br />
      <br />
      Thank you for being a part of the COFFEE HOUSE family.
      <br />
      Whether you're a seasoned coffee connoisseur or just beginning your coffee
      journey, we look forward to sharing the love and warmth that defines the
      essence of COFFEE HOUSE.
      <br />
      <br />
      Sip, savor, and make memories with us at COFFEE HOUSE.
    </div>
  </div>
</section>
{% endblock %}
