{% extends 'base.html' %} {% block content %}
<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        {% if orders %}
        <p class="lead fw-normal mb-0" style="color: #a8729a">TOTAL ORDERS {{ total_orders }} </p>
        {% endif %}
       
         
          
          {% if orders%}
         
          {% for order in orders %}
          <div class="card" style="border-radius: 10px">
         
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #a8729a">Receipt</p>
              <p class="small text-muted mb-0"> Order Id {{ order.order_id }}</p>
            </div>

            {% for coffee in order.coffees %}
            
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      src="{{ coffee.picture }}"
                      class="img-fluid"
                      alt="Phone"
                    />
                  </div>
                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0">{{ coffee.name }}</p>
                  </div>
                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0 small">Category: {{ coffee.category }}</p>
                  </div>

                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0 small">Qty: {{coffee.quantity }}</p>
                  </div>
                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0 small">NPR {{ coffee.total_price }}</p>
                  </div>
                </div>
                <hr
                  class="mb-4"
                  style="background-color: #e0e0e0; opacity: 1"
                />
              </div>
            </div>
    
           {% endfor %}


            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>

            </div >
            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Order Status : {{ order.status }}</p>

            </div>
            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Number : {{ order.id }}</p>

            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date : {{ order.created_at }}</p>
  
            </div>
            <div style="text-align:left;">
              <p class="text-muted mb-0">
                <span class="fw-bold me-4">Total :  </span> NPR {{ order.before_tax }}
                </p>
              <p class="text-muted mb-0">
                <span class="fw-bold me-4"> Tax :  </span>   {{ tax }} %
              </p>

              <p class="text-muted mb-0">
                <span class="fw-bold me-4"> Shipping Fee : </span> NPR {{ shipping_fee  }}
              </p>

              <p class="text-muted mb-0">
                <span class="fw-bold me-4">Total Paid Amount : </span> NPR {{ order.after_tax_amount|floatformat:2 }}
              </p>
            </div>





          </div>
          
          
    
        </div>
          <br><hr>
          {% endfor %}
          {% elif not orders %}
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">
              <span style="color: #a8729a"> You donot have any Orders Yet </span
              >!
            </h5>
          </div>
          {% endif %}
        
      </div>
    </div>
  </div>
</section>
{% endblock %}
